#root {
  background-color: #121212;
  color: #0ff; /* Color de texto neón */
  font-family: 'Courier New', Courier, monospace;
}

.cyberpunk-logo {
  width: 100px;
  height: auto;
}

.text-neon {
  color: #0ff;
  text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #ff0099;
}

.navbar {
  background-color: #333;
  border-bottom: 2px solid #0ff;
}

.navbar-brand, .nav-link {
  color: #0ff !important;
}

.nav-link:hover {
  color: #ff0099 !important;
  text-shadow: 0 0 10px #ff0099;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
